{% extends "posts_app/base.html" %}
{% load static %}

{% block head_block %}
<title>User Profile</title>
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <h1>Profile Details:</h1>
    <!-- <p>Profile pic: <img src="{{user_data.profile_pic_url}}" alt="" width="200px"></p> -->
    <img src="{{user_data.profile_pic_url}}" alt="" width="300px" height="300">
    <br><br>
    <p>Name: {{user_data.user.first_name}} {{user_data.user.last_name}}</p>
    <p>Program: {{user_data.program}}</p>
    <p>Department: {{user_data.department}}</p>
    <p>Year of study: </p>
    <p>Contact No: {{user_data.contact}}</p>
    <p>Email ID: {{user_data.user.email}}</p>
    <br>

    {% if user_data.user == user %}
    <a class="btn btn-warning" href="{% url 'user_profile:update_data' pk=user_data.pk %}">Edit Profile</a>

    {% else %}
    <!-- <a class="btn btn-danger" href="#">Delete Profile</a> -->
    {% endif %}
    <br><br>

    <ul class="nav nav-tabs" id="transactions">
        <li class="nav-item">
            <h3><a class="nav-link" aria-current="page" id="onsaletab" href="#transactions">Products on sale</a></h3>
        </li>
        <li class="nav-item">
            <h3><a class="nav-link" id="soldtab" href="#transactions">Products Sold</a></h3>
        </li>
        <li class="nav-item">
            <h3><a class="nav-link" id="purchasestab" href="#transactions">Products Purchased</a></h3>
        </li>
        {% if user_data.user == user %}
        <li class="nav-item">
            <h3><a class="nav-link" id="wishlisttab" href="#transactions">Wishlist</a></h3>
        </li>
        {% endif %}
    </ul>


    <div id="onsale">
        {% for product in user_data.user.products.all %}
        {% if product.published_date != None and product.is_sold == False %}
        <div class="product">
            <h2><a href="{% url 'posts_app:product_detail' pk=product.pk %}">{{product.product_title}}</a></h2>
            <p>Published on: {{product.published_date|date:"d M Y"}}</p>
            <p>Price: {{product.price}} rupees</p>
            <p>Buy Requests: {{product.requests.count}}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div id="sold">
        {% for product in user_data.user.products.all %}
        {% if product.is_sold == True %}
        <div class="product">
            <h2><a href="{% url 'posts_app:product_detail' pk=product.pk %}">{{product.product_title}}</a></h2>
            <p>Buyer: <a href="{% url 'user_profile:user_data' pk=product.buyer.detail.pk %}">
                    {{product.buyer.detail}}</a></p>
            <p>Price: {{product.price}} rupees</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div id="purchases">
        {% for product in user_data.user.purchases.all %}
        <div class="product">
            <h2><a href="{% url 'posts_app:product_detail' pk=product.pk %}">{{product.product_title}}</a></h2>
            <p>Seller: <a href="{% url 'user_profile:user_data' pk=product.owner.detail.pk %}">
                    {{product.owner.detail}}</a></p>
            <p>Price: {{product.price}} rupees</p>
        </div>
        {% endfor %}
    </div>
    <div id="wishlist">
        {% if user_data.user == user %}
        {% for product in user_data.user.detail.wishlist_products.all %}
        <div class="product">
            <h2><a href="{% url 'posts_app:product_detail' pk=product.pk %}">{{product.product_title}}</a></h2>
            <p>Seller: <a href="{% url 'user_profile:user_data' pk=product.owner.detail.pk %}">
                    {{product.owner.detail}}</a></p>
            <p>Price: {{product.price}} rupees</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<script>

    function hideElement(id) {
        var div = document.getElementById(id);
        div.style.display = "none";
    }

    function hideAllTabElements() {
        hideElement("onsale");
        hideElement("sold");
        hideElement("purchases");
        hideElement("wishlist");
    }

    hideAllTabElements();

    function showElement(id) {
        var div = document.getElementById(id);
        div.style.display = "block";
    }

    showElement("onsale");

    function attachFunctionToLink(id) {
        var tabid = id + "tab"
        var onsale = document.getElementById(tabid);
        onsale.onclick = function () {
            hideAllTabElements();
            showElement(id);
        }
    }

    attachFunctionToLink("onsale");
    attachFunctionToLink("sold");
    attachFunctionToLink("purchases");
    attachFunctionToLink("wishlist");

</script>
{% endblock %}