{% extends "posts_app/base.html" %}
{% load static %}

{% block head_block %}
<title>Delete Profile</title>
{% endblock %} 

{% block body_block %}
<div class="jumbotron">
    <h1>Delete {{userprofileinfo.user.first_name}}'s Profile?</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-danger" value="Delete">
        <a class="btn btn-warning" href="{% url 'user_profile:user_data' pk=userprofileinfo.pk %}">Cancel</a>
    </form>
</div>
{% endblock %}