{% extends "posts_app/base.html" %}
{% load static %}

{% block head_block %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
<title>
    {% if not form.instance.pk %}
    Add New Product
    {% else %}
    Update Product Details
    {% endif %}
</title>
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    {% if user.detail %}

    {% if not form.instance.pk %}
    <form method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>
                <h1>
                    Add New Product Details
                </h1>
            </legend>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Save">
        </fieldset>
    </form>
    {% else %}
    {% if form.instance.owner == user %}
    <form method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>
                <h1>
                    Update Product Details
                </h1>
            </legend>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Save">
        </fieldset>
    </form>
    {% else %}
    <p>You can not change product's details of other users.</p>
    {% endif %}
    {% endif %}

    {% else %}
    <h1>You profile is incomplete.</h1>
    <h2><a href="{% url 'user_profile:user' %}">Complete Profile</a></h2>
    {% endif %}
</div>
{% endblock %}